<?xml version="1.0" encoding="utf-8"?>
<configuration>

   <configSections>
      <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
   </configSections>

   <appSettings>
      <add key="PageDebugInfoEnabled" value="False" />
   </appSettings>

   <modules>
      <module assemblyFile="Mitutoyo.MiCAT.ReportModule.dll" moduleType="Mitutoyo.MiCAT.ReportModule.ReportModule, Mitutoyo.MiCAT.ReportModule" moduleName="ReportModule" />
      <module assemblyFile="Mitutoyo.Micat.PdfExportDebugModule.dll" moduleType="Mitutoyo.Micat.PdfExportDebugModule.Module.PdfExportDebugModule, Mitutoyo.Micat.PdfExportDebugModule" moduleName="Pdf Export" />
   </modules>

</configuration>
